.container
  - if claimable_slugs.size > 0
    .download-type#claimable
      .title Newly Selected Walkpaths
      .button.button-primary.download-all Download All
      .button.button-primary.claim-all Claim & Download All
      %ul
        - claimable_slugs.each do |slug|
          %li.claimable{id: slug}
            %a.pdf{download: true, href: "http://turf.getup.org/walklists/#{slug}_walklist.pdf"}
              #{slug}_walklist.pdf
            %a.claim{download: true, href: "/claim?slugs[]=#{slug}"}
              Claim
  - if unclaimable_slugs.size > 0
    .download-type#unclaimable
      .title Walked by some one else
      .button.button-primary.download-all Download All
      %ul
        - unclaimable_slugs.each do |slug, user|
          %li.unclaimable{id: slug}
            %a.pdf{download: true, href: "http://turf.getup.org/walklists/#{slug}_walklist.pdf"}
              #{slug}_walklist.pdf
            .details
              is walked by 
              %b #{user[:name]}
              from #{user[:organisation]}.
              Email:
              %a{href: "mailto:#{user[:email]}"} #{user[:email]},
              Phone:
              %a{href: "tel:#{user[:phone]}"} #{user[:phone]}
  .download-type#all-claimed
    .title Previously Selected Walkpaths
    .button.button-primary.download-all Download All
    %ul
      - claimed_slugs.each do |slug|
        %li.claimed{id: slug}
          %a.pdf{download: true, href: "http://turf.getup.org/walklists/#{slug}_walklist.pdf"}
            #{slug}_walklist.pdf
%script{ src: '/javascript/download.js', type: 'text/javascript' }
