.container.select-electorate
  .spacer
  .form
    %h2 Select your electorate

    %form{ :action => "/electorates", :method => "get"}
      %select{ :id => "electorate", :name => "electorate" }
        %option{:value => "301020"}= "Batman"
        %option{:value => "300989"}= "Bonner"
        %option{:value => "300991"}= "Brisbane"
        %option{:value => "curtin"}= "Curtin"
        %option{:value => "301028"}= "Deakin"
        %option{:value => "denison"}= "Denison"
        %option{:value => "301029"}= "Dunkley"
        %option{:value => "301035"}= "Higgins"
        %option{:value => "301059"}= "Hindmarsh"
        %option{:value => "kooyong"}= "Kooyong"
        %option{:value => "mcewen"}= "McEwen"
        %option{:value => "melbourne"}= "Melbourne"
        %option{:value => "moreton"}= "Moreton"
        %option{:value => "petrie"}= "Petrie"
        %option{:value => "300977"}= "Reid"
        %option{:value => "ryan"}= "Ryan"
        %option{:value => "301064"}= "Sturt"
        %option{:value => "300986"}= "Wentworth"

      %input{:id => 'submit-electorate', :type => "submit", :value => "View", :class => "button"}
